
/**
 * Base Colors
 */
$color-white-w1: #FFF;
$color-white-w2: #EEE;
$color-white-w3: #DDD;

$color-black-b1: #000;
$color-black-b2: #222;
$color-black-b3: #444;
$color-black-b4: #666;
$color-black-b5: #AAA;

$color-blue-b1: #001669;
$color-blue-b2: #2E83C8;
$color-blue-b3: #E7EDF3;

$color-red-r1: #CF0020;

$color-cyan-c1: #009EE3;

/**
 * Colors by usage
 */
$color-text: $color-black-b2;
