{##
    Provides the default stylesheets for the base site
#}
{% macro global_css() %}
    <link rel="stylesheet" media="all" href="{{ false|cssUrl }}">
{% endmacro %}

{##
    Provides the js bootstraping for the base site
#}
{% macro global_js() %}
    {% if environment.get('js.bundle', false) %}
        <script src="{{ false|jsUrl }}"></script>
    {% else %}
        <script src="{{ 'runtime'|jsUrl }}"></script>
        <script src="{{ 'configuration'|jsUrl }}"></script>
    {% endif %}
    <script>
        System.import('global/bootstrap');
    </script>
{% endmacro %}


{##
    Provides the js for grid helper overlay
#}
{% macro global_grid_helper_js() %}
    <script type="text/javascript" src="{{ '/base/global/js/gridhelper.js'|jsUrl }}"></script>
{% endmacro %}


{##
    Removes the no-js class from the html element
#}
{% macro global_nojs() %}
    <script>
        document.getElementsByTagName('html')[0].classList.remove('no-js');
    </script>
{% endmacro %}


{##
    Adds tracking
#}
{% macro global_tracking() %}
{% endmacro %}
