{##
    Provides the default stylesheets for the base site
#}
{% macro global_css() %}
    <link rel="stylesheet" media="all" href="/base/css/common.css" />
{% endmacro %}


{##
    Provides the js bootstraping for the base site
#}
{% macro global_js() %}
    {% if environment.get('js.bundle', false) %}
        <script src="/base/common.js"></script>
    {% else %}
        <script src="/jspm_packages/system.js"></script>
        <script src="/jspm.js"></script>
    {% endif %}
    <script>
        System.import('base/global/js/bootstrap');
    </script>
{% endmacro %}


{##
    Provides the js for grid helper overlay
#}
{% macro global_grid_helper_js() %}
    <script type="text/javascript" src="/base/global/js/gridhelper.js"></script>
{% endmacro %}


{##
    Removes the no-js class from the html element
#}
{% macro global_nojs() %}
    <script>
        document.getElementsByTagName('html')[0].classList.remove('no-js');
    </script>
{% endmacro %}


{##
    Adds tracking
#}
{% macro global_tracking() %}
{% endmacro %}
