<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8" />
        <title>Mainova {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="" />
        {{ global_nojs() }}
        {{ global_css() }}
    </head>
    <body class="t-default {% block bodyClass %}{% endblock %}">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {{ global_js() }}
        {{ global_tracking() }}
    </body>
</html>
